body
{
    background-image: linear-gradient(to right,black , green);
}
.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

 input{
    border-radius: 21px;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 50PX;
    font-size: 40px;
    width: 110px;
    height: 100px;
    margin: 6px;
    background-color:red;
}

.calculator{ 
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}